<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <div class="top-bar">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        {{#if loggedIn}}
          <a href="/logout">Log out</a>
        {{else}}
          <a href="/login">Log in</a>
        {{/if}}
      </div>
      <div class="container">
        <h1>{{ title }}</h1>
        <h2>About MVC (Model-View-Controller)</h2>
        <p>
          MVC is a software architectural pattern commonly used in web development. It divides an application into three interconnected components:
        </p>
        <table class="table-style">
          <thead>
            <tr>
              <th>Component</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {{#each components}}
            <tr>
              <td>{{ this.name }}</td>
              <td>{{ this.description }}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{#if loggedIn}}
          <p>Welcome, {{ username }}!</p>
        {{else}}
          <p>Please log in to access the full content.</p>
        {{/if}}
        
        <form action="/add-comment" method="POST">
          {{#if loggedIn}}
            <p>Logged in as: {{username}}</p>
          {{else}}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
          {{/if}}
          <label for="comment">Comment:</label>
          <textarea id="comment" name="comment" required></textarea>
          <button type="submit">Add Comment</button>
        </form>
      </div>
    </div>
  </body>
</html>
